html {
    height: 100%;
    width: 100%;
  
    h1 {
      background-color: #f0d0d3;
    }
  
    h2 {
      background-color: #f0d0d3;
    }
  
    body {
      background-color: #ffefef;
    }
    
  }